<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="styles.css">

    <title>News</title>
  </head>

  <body>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="display-4" style = "font-family: 'Poppins'">The Madison Daily 
            <i class="far fa-newspaper"></i>
            </div>
                      
        </div>
    </div>

    <div class="container mt-5">
        <hr>
        <h1>Current Weather</h1> <br>
          <div class="card-fluid">
            <div class="card-body">
            <p>Temperature: <%=@current_temperature%> </p>
                <p>Conditions: <%=@current_summary  %>
                <% if @icon == "cloudy" %>
                    <i class="fas fa-cloud"></i>
                <% elsif @icon == "rain" %>
                    <i class="fas fa-cloud-rain"></i>
                <% elsif @icon == "fog" %>
                    <i class="fas fa-smog"></i>
                <% elsif @icon == "partly-cloudy-night" %>
                    <i class="fas fa-cloud-moon"></i>
                <% elsif @icon == "partly-cloudy-day" %>
                    <i class="fas fa-cloud-sun"></i>
                <% elsif @icon == "clear-day" %>
                    <i class="fas fa-sun"></i>
                <% elsif @icon == "clear-night" %>
                    <i class="fas fa-moon"></i>
                <% elsif @icon == "sleet" %>
                    <i class="fas fa-cloud-showers-heavy"></i>
                <% elsif @icon == "snow" %>
                    <i class="fas fa-snowflake"></i>
                <% elsif @icon == "wind" %>
                    <i class="fas fa-wind"></i>
                <% end %> </p>
            </div>
          </div>
        </div>

        <hr>
        <div class="container mt-5">
        <h1>Weekly Forecast</h1> <br>
        <div class = "row">
                <div class = "col">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col-sm">Days Out</th>
                            <th scope="col-sm">Temperature (High)</th>
                            <th scope="col-sm">Conditions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @forecast_temperature.zip(@forecast_summary).each do |forecasttemp, forecastcond| %>
                                <tr>
                                <td><p><%=@forecast_temperature.index(forecasttemp)+1 %></p></td>
                                <td><p><%= forecasttemp %></p></td>
                                <td><p><%= forecastcond %>
                                    <% if @forecast_icon[@forecast_temperature.index(forecasttemp)] == "cloudy" %>
                                        <i class="fas fa-cloud"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "rain" %>
                                        <i class="fas fa-cloud-rain"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "fog" %>
                                        <i class="fas fa-smog"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "partly-cloudy-night" %>
                                        <i class="fas fa-cloud-moon"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "partly-cloudy-day" %>
                                        <i class="fas fa-cloud-sun"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "clear-day" %>
                                        <i class="fas fa-sun"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "clear-night" %>
                                        <i class="fas fa-moon"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "sleet" %>
                                        <i class="fas fa-cloud-showers-heavy"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "snow" %>
                                        <i class="fas fa-snowflake"></i>
                                    <% elsif @forecast_icon[@forecast_temperature.index(forecasttemp)] == "wind" %>
                                        <i class="fas fa-wind"></i>
                                    <% end %> 
                                </p></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
        </div>
        <hr>
        
        <h1>Business Headlines <%=@date%></h1><br>
        <div class = "row">
            <% @title.zip(@story_url).each do |title, url| %>
                <div class="card-fluid">
                        <div class="card-body">
                            <h5 class="card-title"><%=title%></h5>
                            <a href="<%=url%>" class="btn btn-dark">View Article</a>
                        </div>
                </div>  
            <% end %>               
        </div>
    </div>
   
    <div class="container">
    <hr>
        <div class = "row">         
            <div class = "col">
                <form action="/news">
                    <input type = "text" name="q">
                    <button type = "submit">Adjust Your Weather Location</submit>
                </form>
            </div>
        </div>         
    </div>

<div class="container">    
<hr>
<div class = "row">
    <div class = "col">
    <h2> Data sourced from News API and DarkSky API </h2>
    </div>
</div>
</div>

  </body>
</html>